body{
	/*background-color: #F8F8F8;
	*/
	height: 100%;
}

.navbar-custom{
	border-radius: 0;
	box-shadow:         0px 5px 6px 0px rgba(50, 50, 50, 0.5);
}
.h1-custom{
	margin-top: 0;
}
.pagination-custom{
	margin-top: -20px;
}
.custom-header{
    padding: 2em 0 ;
    background-color: #5FB37B;
    margin-top: -20px;
    color: white;
    z-index: 20;
}
.custom-header h1 {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}
.custom-header small{
    color:#F7F7F7;
}
.btn-custom{
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    background-color: #5FB37B;
    border-color:white;
    border-width: 2px;
}
.btn-custom:hover{
    background-color: white;
    border-color:#60B07B;
    color:#5FB37B;
}
.btn-tomas{
    margin-top:25px;
    margin-bottom: -25px;
}
.breadcrumb-custom{
    background-color: white;
    font-size: 1.1em;
    z-index: 10;
}

.navbar-custom  li{
    border-color: #ccc;
}

/*
.navbar-custom  li:hover{
    background-color: #E8E7E7;
}
*/

.panel-heading-custom{
    cursor: pointer;
}
.panel-heading-custom:hover{
    background-color:#0F4C81;
    border-color: #0F4C81;
}

.carousel {
    width: 160px;
    height:160px;
}
.carousel-inner {
    width: 160px;
    height:160px;
}

.carousel-inner > .item > img{
    width: 160px;
    height:160px;
}


/* Panel de generacion de reportes*/

.li-report-custom{
    width:33%;
}